.contacto{
    background: #EAF2FD;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-bottom: 2rem;
}

.contenedor_contacto{
    margin-top: 2rem;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}

.sec_logo_abajo{
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
}



.links_lista{
    list-style: none;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 2rem;
    color: #464646;
}

.form{
    width: 45%;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.titulo_form{
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 0.25rem;
    color: #464646;
    width: 100%;
}

.form_nombre{
    background: #ffffff;
    color: #464646;
    border-style: none;
    margin-top: 5px;
    border-radius: 4px;
    height: 45px;
    padding: 0 8px;
    position: relative;
    width: 100%;
}

.form_nombre input{
    border: none;
    outline: 0;
    margin-top: 2px;
    padding: 1rem 0 0.5rem;
    font-size: 1rem;
    width: 100%;

}

label {
    font-size: 0.7rem;
    position: absolute;
    margin-top: 3px;
  }

/*.form_nombre{
    
    background: #ffffff;
    color: #464646;
    font-size: 1rem;
    border-style: none;
    margin-top: 5px;
    border-radius: 4px;
    height: 45px;
    
}   */ 

.form_mensaje{
    
    background: #ffffff;
    color: #464646;
    border-style: none;
    margin-top: 5px;
    border-radius: 4px;
    padding: 0 8px;
    position: relative;
    width: 100%;
    
}

.form_mensaje textarea{
    border: none;
    word-wrap: break-word;
    word-break: break-all ;
    outline: 0;
    margin-top: 2px;
    padding: 1rem 0 0.5rem;
    font-size: 1rem;
    height: 60px;
    resize: vertical;
    width: 100%;
    
}


.boton{
    background-color: #2A7AE4;
    color: #ffffff;
    border: 1px solid #2A7AE4;
    padding: 0.7rem 1rem 0.7rem 1rem;
    font-size: 0.85rem;
    font-weight: 400;
    width: 162px;
    margin-top: 5px;

}

@media screen and (max-width:768px) {

}

@media screen and (max-width:320px) {

    .links_lista{
        text-align: center;
    }

    .contenedor_contacto{
   
        flex-direction: column;
        
    }

    .sec_logo_abajo{
        
        align-items: center;
        justify-content: center;
        
    }

    .form{
        width: 92%;
    }

    .formulario{
        justify-content: center;
    }

    .boton{
        width: 130px;
    }
}